@charset "UTF-8";
/* 
resect CSS 將版面設定清除，好統一瀏覽器格式
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit;
  vertical-align: baseline; */
  font-family: 微軟正黑體, serif;
  font-weight: 400;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fff;
  box-shadow: 3px 3px 5px 1px #757474;
}
header .logo {
  display: flex;
  align-items: center;
  flex: 5 1 400px;
  margin-left: 2rem;
}
header .logo img {
  width: 5vw;
  height: 5vw;
}
header .logo h1 {
  font-size: 30px;
}
header nav {
  flex: 2 1 400px;
}
header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
header nav ul li a {
  color: #09777d;
  text-decoration: none;
  font-size: 1.35rem;
}

@media (max-width: 550px) {
  header .logo {
    margin-left: 0.5rem;
  }
  header .logo img {
    width: 8vw;
    height: 8vw;
  }
}
main .backImage {
  min-height: 90vh;
  width: 100%;
  background-image: url(../Pictures/pexels-photo-416676.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main .backImage .filter {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 90vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
main .backImage h3 {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 2rem;
  line-height: 5rem;
}
main .backImage .start {
  background-color: #0ed1d1;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  text-shadow: 1px 0px 5px #000;
}
main .backImage .start:hover {
  background: #3bf0e5;
}

.content .second {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.content .second h2 {
  font-size: 2rem;
  margin: 2rem 0;
  line-height: 3rem;
}
.content .second h2 span {
  color: #12948c;
}
.content .second .cards {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}
.content .second .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  flex: 1 1 300px;
}
.content .second .cards .card .image-container {
  overflow: hidden;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.content .second .cards .card .image-container img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin-bottom: 2rem;
  transition: all 0.2s;
}
.content .second .cards .card .image-container img:hover {
  transform: scale(1.2);
}
.content .second .cards .card h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.content .second .cards .card p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  line-height: 3rem;
}
.content .second .cards .card a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #09777d;
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 3rem;
}
.content .second .cards .card a:hover {
  background: #0ed1d1;
}

@media (max-width: 700px) {
  main .second img {
    width: 40vw;
    height: 40vw;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30vh;
  justify-content: space-around;
  background-color: rgb(207, 207, 207);
}
footer .logo {
  display: flex;
  align-items: center;
  text-align: center;
}
footer .logo img {
  width: 60px;
  height: 60px;
}
footer .logo h1 {
  font-size: 3rem;
}
footer nav {
  width: 30%;
  align-items: center;
  text-align: center;
}
footer nav ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  line-height: 3rem;
}
footer nav ul li {
  flex-basis: 100px;
}
footer nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1.35rem;
}
footer .links {
  margin-top: 1rem;
}
footer .links a {
  margin: 0rem 1rem;
}
footer .links a img {
  width: 50px;
  height: 50px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #12948c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0ed1d1;
}/*# sourceMappingURL=style.css.map */